/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&family=Merriweather:wght@400;900&display=swap');
/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common shared styles */
.section-withoutBG {
  width: 82%;
  max-width: 1320px;
  margin: 50px auto 120px;
}
.section-subtitle {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 16px;
}

.section-title {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 22px;
}

.header {
  position: relative;
  display: flex;
  /* background-image: url('../images/Banner-Image.png'); */
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center center;
  width: 82%;
  height: 505px;
  max-width: 1320px;
  margin: 50px auto 120px;
  border-radius: 20px;
}

.header::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

.section-description {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
/* header styles */
header.header {
  position: relative;
  display: flex;
  background-image: url('../images/Banner-Image.png');
  background-repeat: no-repeat;
  background-size: cover;
  object-position: center center;
  width: 82%;
  height: 72vh;
  max-width: 1320px;
  margin: 50px auto 120px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
header.header::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%);
}

header .header-info {
  z-index: 10;
  text-align: center;
  color: white;
  font-family: 'Merriweather', serif;
  max-width: 632px;
}

header .header-info .header-subtitle {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}
header .header-info .header-title {
  color: #fff;
  text-align: center;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
}
/* main styles */

/* sales promotion section */
section#sales-promtion {
  max-width: 803px;
  margin: 0 auto 120px;
  text-align: center;
}
section#sales-promtion > #sales-heading-percantage {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 48px;
}
section#sales-promtion > .section-title {
  margin-bottom: 48px;
}

/* cta(call to action) section */
section#cta {
  flex-direction: column;
  background-image: url('../images/Vectorrr.png');
  justify-content: center;
  padding-left: 126px;
}

#cta > .cta-contents {
  max-width: 697px;
  z-index: 10;
}

#cta > .cta-contents > .cta-heading {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px; /* 137.5% */
  letter-spacing: 7.04px;
}
#cta > .cta-contents > .cta-subheading {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
#cta > .cta-contents > .cta-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  margin: 28px auto auto 12px;
  cursor: pointer;
  padding: 16px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}
#cta > .cta-contents > .cta-btn:hover {
  border: 1px solid orange;
  color: orange;
}

/* Event detail section */
section#event-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82%;
  height: 482px;
  max-width: 1320px;
  margin: 50px auto 120px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
  border-radius: 15px;
}

section#event-infos > .event-info-container {
  text-align: center;
  font-family: Inter;
  color: #070211;
  font-size: 32px;
  /* 175% */
}
section#event-infos > .event-info-container span {
  color: #f00;
}
section#event-infos > .event-info-container h2 {
  font-weight: 600;
  line-height: 56px; /* 175% */
}
section#event-infos > .event-info-container > button {
  border-radius: 8px;
  background: #f00;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 48px;
}

/* coming soon section */
section#coming-soon > .coming-soon-contents-row {
  display: flex;
}
.coming-soon-contents-row > .coming-soon-contents-column:nth-child(1) {
  max-width: 393px;
  margin-right: 70px;
  padding-top: 104px;
}
.coming-soon-contents-row > .coming-soon-contents-column:nth-child(1) > h2 {
  font-family: Merriweather;
}

.coming-soon-contents-row > .coming-soon-contents-column:nth-child(2) > img {
  margin-right: 118px;
}

.coming-soon-contents-row > .coming-soon-contents-column:nth-child(3) {
  padding-top: 104px;
}

.coming-soon-contents-row > .coming-soon-contents-column:nth-child(3) > h2 {
  font-family: Inter;
  color: #f00;
}

.coming-soon-contents-row > .coming-soon-contents-column:nth-child(3) > img {
  margin-top: 43px;
}

/* Friday sales */
section#friday-sales > header {
  text-align: center;
  margin-bottom: 64px;
}
section#friday-sales > header > h2 {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
section#friday-sales > header > h3 {
  color: #070211;
}
section#friday-sales > header span {
  color: #f00;
}
section#friday-sales > header > p {
  font-weight: 500;
}

section#friday-sales > main > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: -5px;
}
section#friday-sales > main > div:nth-child(1) > div:nth-child(1) {
  width: 100%;
  position: relative;
}
section#friday-sales > main > div:nth-child(1) img[alt='advertising image'] {
  position: absolute;
  bottom: -35%;
  left: 0;
  height: 130%;
}

section#friday-sales > main > div:nth-child(1) > div:nth-child(2) {
  position: relative;
}
section#friday-sales > main > div:nth-child(1) > div:nth-child(2) > img[alt='discount image'] {
  position: absolute;
  top: 50px;
  left: -150px;
}
/* footer styles */
